<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='{{ .Site.BaseURL }}'>
              <img  class="header__logo" src="{{ .Site.BaseURL }}images/logo.png"/>
            </a>
            
            <nav class="header__nav">
              <ul>
                <li><a href="{{ .Site.BaseURL }}">All</a></li>
                <li><a href="{{ .Site.BaseURL }}tags/fun">Fun</a></li>
                <li><a href="{{ .Site.BaseURL }}tags/smart">Smart</a></li>
              </ul>
            </nav>
        </header>
    </section>
</div>